.button a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,-50%);
    font-size: 24px;
    width: 300px;
    height: 80px;
    color: #fff;
    background-color: lightgray;
    text-align: center;
    text-transform: uppercase;
    line-height: 80px;
    border-radius: 20px;
}
